name: Pull Request

on:
  pull_request:

jobs:
  run-ci:
    uses: Jikoo/PlanarActions/.github/workflows/ci_gradle_sonar.yml@master
    secrets: inherit
  approve-and-merge-dependabot:
    if: "github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]'"
    needs: [ "run-ci" ]
    uses: Jikoo/PlanarActions/.github/workflows/dependabot_automerge.yml@master
    permissions:
      contents: write
      pull-requests: write
